-object.by_family(family).each do |item|
	%li
		.grid_1.alpha
			= link_to image_tag (item.images.second.nil? ? item.images.first.img.url(:grid_1) : item.images.second.img.url(:grid_1)) , product_path(item)
		.grid_5.rule-two.omega
			= link_to item.name, product_path(item)
