.wrapper
	= render :partial => "layouts/top_menu"
	.container_6
		.submenu
			%p.grid_2
				=@category.name
			%p.grid_2 &nbsp;
			%p.grid_2
				= link_to "slideshow", slideshow_path("product", "fotografia", @category)
		
		%p.clear
		-@families.each do |family|
			%ul.with_images[family]
				%li.no_link
					= family.name			
				= render :partial => "products_family",  :locals => {:object => @products, :family => family.id}
				