/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}
*/

form.formtastic .grid_3 li label { display: none; }
form.formtastic strong { font-weight: bold; }
#product_status_input > fieldset > ol > li { width: 300px; padding: 0; margin: 0; }
#product_status_input > fieldset > ol > li input[type="radio"] { margin-right: 3px; }
ul.with_images li .grid_8 select , ul.with_images li .grid_8 label { display: none; }