.down { padding-top: 9px; }
.without_link { margin-top: 3px; padding-top: 20px; padding-bottom: 12px; }

.title { color: #FFF; padding-top: 9px; margin-bottom: 20px; }
.subtitle {  margin-bottom: 8px; }