html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body {line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body { font-family: Helvetica, Arial, Verdana, Sans-Serif; font-size: 12px; line-height: 16px; color: #A8A8A8; background: #414141; /*background: #414141 url( '../img/publisher_grid.png' ) repeat-y center top;*/ }

.masterHeader { border-bottom: 1px solid #FFF; overflow: hidden; padding: 0; }
.masterHeader ul.menu { float: left; padding: 6px 0px 6px 0px; margin: 11px 0px 2px 0px; }
	.masterHeader ul.menu li { float: left; width: 96px; color: #FFF; padding: 6px 0px 0px 0px; margin: 0px 3px 0px 3px; }
	.masterHeader ul.menu li.active { font-weight: bold; }
.masterHeader img { float: right; margin: 10px 3px 0px 0px; }
	
.navContainer { margin: 0px 6px 0px 0px; width: 198px; float: left; }
	
.actionHeader { padding: 11px 0px 16px 0px; margin: 0px; overflow: hidden; color: #FFF; }


.form-container { border-bottom: 1px solid #969696; overflow: hidden; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }
	.form-container input[type="text"] { border: 0; background: #969696; font-family: Helvetica, Arial, Verdana, Sans-Serif; font-size: 11px; line-height: 16px; margin: 0; padding: 2px 0px 2px 0px; vertical-align: top; }
.form-content { margin: 0; padding: 0px 0 0px 0; margin: 8px 0 16px 0; overflow: hidden; }

textarea { border: 0; background: #969696; font-family: Helvetica, Arial, Verdana, Sans-Serif; font-size: 11px; line-height: 16px;  margin: 0; padding: 0; vertical-align: top; }
.grid_3 input[type="text"] { width: 147px; }
.grid_3 textarea { width: 147px; height: 120px; }

ul.categories_browser { margin: 0; padding: 0; }
ul.categories_browser > li { border-bottom: 1px solid #969696; overflow: hidden;  padding: 6px 0px 3px 0px; margin-bottom: 0px; }
ul.categories_browser > li > a { color: #FFF; background: url('../images/ico-arrow-right-white.png') left top no-repeat; display: block; padding-left: 18px; padding-top: 6px; padding-bottom: 12px; }
	ul.categories_browser > li.open > a { background: url('../images/ico-arrow-down-white.png') left top no-repeat; }
ul.categories_browser > li > ul { display: none; }


ul.with_images { }
ul.with_images li { border-top: none; overflow: hidden; padding-top: 2px; margin-bottom: 0px; }
ul.with_images li .rule-two { margin-top: 0px; margin-bottom: 0px; padding: 3px 0px 3px 0px; overflow: hidden; }
ul.with_images li img { margin-bottom: 1px; }
ul.with_images li a { background: url('../images/ico-arrow-right.png') right top no-repeat; display: block; padding-top: 6px; padding-bottom: 12px; }

ul.with_images li.no_link { border-top: 1px solid #969696; margin-top: 2px; padding-top: 9px; padding-bottom: 8px; margin-bottom: 10px; overflow: hidden; }
ul.with_images li.more_link { border-top: 1px solid #969696; margin-top: 2px; padding-top: 3px; padding-bottom: 6px; }
ul.with_images li.more_link a { background: url('../images/ico-plus.png') right top no-repeat; display: block; padding-top: 6px; padding-bottom: 12px; }

ul.actionMenu { border-top: 1px solid #969696; color: #FFF; border-bottom: 1px solid #969696; overflow: hidden; margin: 0px; padding: 11px 0px 8px 0px; }
	ul.actionMenu li { padding: 0px 0px 8px 0px; float: left; width: 96px; }
	ul.actionMenu li.active { font-weight: bold; }

a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:hover { color: inherit; text-decoration: none; }
a:active { color: inherit; text-decoration: none; }

a.active:link { font-weight: bold; color: #FFF; text-decoration: none; }
a.active:visited { font-weight: bold; color: #FFF; text-decoration: none; }
a.active:hover { font-weight: bold; color: #FFF; text-decoration: none; }
a.active:active { font-weight: bold; color: #FFF; text-decoration: none; }

.rule-two { border-top: 1px solid #969696; padding-top: 9px; margin-bottom: 8px; }

