-cover.each do |el|
	.product{:class => el.product_grid}
		%p.rule-two 
			=el.product_name
		= link_to image_tag(image.by_imageable_id(el).first.img.url(el.product_grid)), product_path(el) #unless image.by_imageable_id(el).first.nil?

	
%p.clear
-unless @solution.nil?
	.solutions
		%p.grid_6.rule-one soluções
		%p.clear
		%p.grid_4.rule-two 
			=@solution.description 
		%p.grid_2.rule-two.go_forward
			= link_to "fotografias", galery_path(1, "Solution", "solution"), :class => "dissolve"  unless @solution.images.by_cover.first.nil?
