.wrapper
	= render :partial => "layouts/top_menu"
	.container_6
		.submenu
			.grid_4 
				=t 'home.destaque'

	=render :partial => "cover", :locals => {:cover => @cover, :image => @image}
	
	.footer
		%p.grid_6.rule-two
			-@languages.each do |lang| 
				= link_to lang.name, language_path(lang)
				|
