.wrapper
	= render :partial => "layouts/top_menu_without_link"
	
	.container_6
		.designer
			%p.grid_6.title Mussum Alive
			%p.clear
			%p.grid_4.subtitle Descrição do designer com os seus produtos listados descrição do designer com os seus produtos listados descrição do designer com os seus produtos listados e comentados peloes especialista no assunto
			%p.grid_2.subtitle.photo 
				= image_tag "../uploads/designers/mussum.jpg"
