.wrapper
	= render :partial => "layouts/top_menu_without_link"
	%p.clear
	
	.container_6		
		%p.clear
		-@galeries.each do |pic|
			.grid_2.product 
				=link_to image_tag(pic.img.url(:grid_2)), galery_path(pic.imageable_id, pic.id)