.wrapper
	<script src="/javascripts/jqtouch.min.js" type="text/javascript"></script>
	<script src="http://localhost:3000/javascripts/mobile.js" type="text/javascript"></script>
	.container_6
		=image_tag @image.img.url(:grid_6), :class => "swipe_trigger touch"
