.wrapper
	%script{:type => "text/javascript", :charset => "utf-8"}
		gallery_start();
		
	.container_6
		.top-bar
			%p top
	
		.swipe_trigger
			= image_tag @image.img.url(:grid_6), :class => "touch"

		.bottom-bar
			.grid_1.alpha
				= link_to 'anterior', change_image_path(@image.imageable_id, @image, :name => @image.image_type.name, :direction => 'previous'), :class => 'prev slideback'
			.grid_4{:style=>"text-align: center"}
				= link_to '[- - -]', galeries_path(@image.imageable_id, :name => @image.image_type.name), :class => "dissolve" 
			.grid_1.omega
				= link_to 'proxima', change_image_path(@image.imageable_id, @image, :name => @image.image_type.name, :direction => 'next'), :class => 'next'		
