.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @designer.new_record? ? "criar novo" : @designer.name
		%p.messageBoard.grid_9 &nbsp;
		%p.actionTriggers.grid_3.omega
			=link_to "cancelar /",  @designer.new_record? ? admin_path : admin_designers_path
			=link_to "salvar","javascript://" ,:class => "designer_save_admin"
			=link_to "/ excluir", admin_designer_path(@designer), :confirm => 'Tem certeza que deseja Excluir o Premio?', :method => :delete unless @designer.new_record?
			
	.actionContent
		-semantic_form_for @designer, :url => @designer.new_record?  ? admin_designers_path : admin_designer_path(@designer) , :html => {:multipart => true} do |form|
			.form-container
				.form-sub-container.grid_3.alpha
					.form-content
						.form-content
							.grid_3.alpha <strong>nome</strong>

						.form-content
							.grid_3.alpha <strong>nascimento</strong>
							
						.form-content
							.grid_3.alpha <strong>obito</strong>
							
				.form-content
					.form-content
						.grid_3.alpha 
							= form.input :name

					.form-content
						.grid_3.alpha 
							= form.input :birthdate, :as => :string

					.form-content
						.grid_3.alpha
							= form.input :deathdate, :as => :string