- new_or_existing = lang_category.new_record? ? 'new' : 'existing'
- prefix = "category[#{new_or_existing}_lang_category_attributes][]"

	.form-sub-container.grid_3
		-semantic_fields_for prefix, lang_category do |lang|
		-lang.inputs
		.form-content
			.grid_3 
				= lang.input :language, :as => :select, :include_blank => false, :collection => Language.all

		.form-content
			.grid_3
				=lang.input :name, :label => false

		.form-content
			.grid_3
				=lang.input :description, :as => :text, :label => false
				
		.form-content	
			.grid_3.remove_language
				=link_to_function "excluir indioma" , " $(this).parents('.form-sub-container').remove()"
