.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha titulo do item
		%p.messageBoard.grid_9 flash message!!!
		%p.actionTriggers.grid_3.omega 
			
			=link_to "cancelar /", admin_path
			=link_to "salvar","#" ,:class => "product_save_admin"
			=link_to "/ excluir", admin_product_path(@product), :confirm => 'Tem certeza que deseja Excluir o Produto?', :method => :delete unless @product.new_record?
		
	%ul.actionMenu
		%li info

	.actionContent
		-semantic_form_for @product, :url => @product.new_record?  ? admin_products_path : admin_product_path(@product) do |form|
			.form-container
				.form-sub-container.grid_3.alpha
					.form-content
						.grid_3.alpha.add_new_language 
							=link_to "+ novo idioma","#", :onclick => "add_new_language()"
						
							.form-content
								.grid_3.alpha titulo
						
							.form-content
								.grid_3.alpha descrição
					
							.form-content
								.grid_3.alpha dados técnicos
				
				#language_product
					= render :partial => 'add_new_language', :collection => @product.lang_product , :as => :lang_product

			.form-container 							
				.form-content
					.grid_3.alpha status
					.grid_3 
						=form.input :status, :label => false, :as => :radio, :collection => [["publicado", true], ["rascunho", false]]
					
		
			.form-container 
				/ Agrupamento de campos belongs_to
				.form-content
					.grid_3.alpha categoria
					.grid_3
						=form.inputs :category
				.form-content
					.grid_3.alpha família
					.grid_3
						=form.inputs :family
				.form-content
					.grid_3.alpha fabricante
					.grid_3
						=form.inputs :manufacture

			#prize_product
				.form-container
					#product_prize
						= render :partial => 'add_new_prize', :collection => @product.product_prize, :as => :product_prize
					=link_to "+ novo premio", "#" , :onclick => "add_new_prize()"


			.form-container 
				.form-content
					.grid_3.alpha designer
					.grid_3
						=form.inputs :designer

					
					
					
					
					
					
					
					
