.actionContainer.grid_15
	-semantic_form_for @image, :url => admin_product_images_path , :html => {:multipart => true} do |form|
		.actionHeader
			%h2.grid_3.alpha titulo do item
			%p.messageBoard.grid_9 flash message!!!
			%p.actionTriggers.grid_3.omega 
				-#= link_to_remote "cancelar /", :url => admin_path 
				=link_to "cancelar /", admin_path
				-#=link_to  "salvar /", admin_product_images_path, :method => :post
				excluir

		%ul.actionMenu
			%li 
				= link_to "info", :back
			%li 
				= link_to "fotografias", 	show_images_path(@image.product_id, 'fotografia')
			%li 
				= link_to "desenhos", 		show_images_path(@image.product_id, 'desenho' )

		.actionContent
			.form-container 							
				.form-content
					.grid_3 
						=form.input :img, :as => :file, :label => "nova imagem"
						=form.input :product_id, :as => :hidden
						=form.input :image_type, :as => :select, :include_blank => false, :collection => ImageType.find_by_name("#{request.request_uri.reverse[0, (request.request_uri.reverse.index'/')].reverse}").to_a	
			.form-container 							
				.form-content
					.grid_3 
						=form.commit_button

.actionContainer.grid_15
	.grid_3.alpha imagens
	.grid_11 adicionar nova
	.grid_1.omega upload
	
	%ul.actionMenu
	-@images.each do |image|
		%li	
			=image_tag image.img.url(:grid_1)	
			=image.dimension(image.img.path(:grid_1))
			=number_to_human_size image.size(image.img.path(:grid_1))
