.toolbar
	.container_6
		.header
			.grid_6.search 
				%input{:type => "text", :value => "busca"}
			.grid_2
				= link_to "luminárias", categories_path
			.grid_2
				= link_to "lojas", root_path
			.grid_2
				= image_tag "lumini_logo.png"