!!! HTML
%html
	%head
		%title lumini | 30 anos de soluções em iluminação
		= stylesheet_link_tag 'reset', 'jqtouch.min', 'iphone-grid', 'iphone-text'
		= javascript_include_tag 'jquery', 'jqtouch.min'

		%script{:type => "text/javascript", :charset => "utf-8"}
			$.jQTouch({statusBar: 'black-translucent', addGlossToIcon: false, slideSelector: 'a', statusBar: 'black', icon: 'appicon.png'});
			

	%body
		#page
			= render :partial => "layouts/top_menu"
			= yield