<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
    "http://www.w3.org/TR/REC-html40/strict.dtd">
%html
	%head
		-#%meta{:name => "viewport", :content => "initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
	
		%title lumini | 30 anos de soluções em iluminação
		= stylesheet_link_tag 'reset', 'iphone-grid', 'iphone-text', 'jqtouch'
		= javascript_include_tag 'jquery', 'jqtouch', 'mobile', 'jqtouch.transitions'

	%body
		#lumini-home
			= render :partial => "layouts/top_menu"
			= yield