!!! HTML
%html
	%head
		%title lumini | 30 anos de soluções em iluminação
		= stylesheet_link_tag 'reset', 'iphone-grid', 'iphone-text', 'jqtouch.min', 'nu-iphone'
		= javascript_include_tag :defaults, 'jqtouch.min', 'mobile', 'http://static.ak.fbcdn.net/connect.php/js/FB.Share'

		%script{:type => "text/javascript", :charset => "utf-8"}
			$.jQTouch({statusBar: 'black-translucent', addGlossToIcon: false, slideSelector: 'a', statusBar: 'black', icon: 'appicon.png'});
			

	%body
		#page
			= render :partial => "layouts/top_menu"
			= yield