!!! HTML
%html
	%head
		%title lumini | 30 anos de soluções em iluminação
		= stylesheet_link_tag 'reset', 'iphone-grid', 'iphone-text', 'jqtouch', 'nu-iphone'
		= javascript_include_tag 'jquery', 'jqtouch.transitions', 'jqtouch', 'mobile',  'nudesign' 

	%body
		#page
			= render :partial => "layouts/top_menu"
			= yield