-inside_layout 'admin' do
	.navContainer 
		%ul.categories_browser
			%li
				= link_to "capas", "javascript://"
				%ul.with_images
					%li.more_link
						= link_to "criar novo", new_admin_cover_path

					-Cover.by_order.each do |cover|
						%li
							.grid_4.rule-two.alpha
								= link_to cover.public_date.strftime("%d/%m/%y"), admin_cover_path(cover)
								
	=yield